# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# Modules
node_modules/
jspm_packages/

# Build directories
build/
dist/
.next/
.cache/

# Environment variables
.env
.env.*

# Docker
docker-compose.override.yml
docker-compose.yml
.dockerignore

# Sensitive data
keys/
secrets/
*.pem

# IDEs
.vscode/
.idea/

# Coverage and tests
coverage/
*.lcov
.nyc_output/

# Temporary files
*.tmp
*.swp
*.bak
